{% extends "master.html" %}
{% load static %}

  <div id="Modal-Logout-Overlay">
      <div id="MSLog-Container">
        <h1 class="s-out">Sign Out</h1>
        <p class="txt">Are you sure you want to sign out?</p>
        <div class="logout-form">
          <form method="POST" action="{% url 'accounts_logout' %}">
            {% csrf_token %}
            <div class="buttons-container">
              <button type="submit" class="button">Sign Out</button>
              <a class="Cancel" href="{% url 'studentdashboard' %}">Cancel</a>
            </div>
      </div>
  </div>

<style> 


</style>
