
{% extends "master.html" %}

{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static './css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!--<script type="module" src="{% static 'js/appearance.js' %}"></script>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}


<div class="wrapper">
    <div class="login-container">
        <div class="login">
            <div class="LoginHeader">
                <a href="/index">
                    <img src="../../static/images/logo9.png" alt="">
                   <h3>SMC Research Ethics Office</h3>
                </a>
            </div>
            <div class="LoginMiddle">
                <div class="LoginTop">
                    <h2>Create Account</h2>
                    <p>Are you sure your thesis is correct? Register an account</p>
                </div>

                <div class="l-top">
                    <div class="input-group">
                        <button class="google-btn">
                            <img src="../../static/images/google.png" alt="">Sign Up with Google
                        </button>

                    </div>
                </div>
                <form action="/register" method="post">
                    <div class="input-group">
                        <input type="text" id="username" name="username" placeholder="Username" required>
                    </div>
                    <div class="input-group">
                        <input type="email" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="input-group">
                        <input type="password" id="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="input-group">
                        <input type="password" id="password2" name="password2" placeholder="Confirm Password" required>
                    </div>
                    <button type="submit" class="signup-btn">Signup</button>
                    <div class="r-bot">
                        <p>
                            Already have an account? <a href="{% url 'login2' %}">Login</a>
                        </p>
                    </div>
                </form>
            </div>
            <div class="LoginFooter">
                <span> &#169; 2024 Ethics Office. All Rights Reserved</span>
            </div>

        </div>

        <div class="pic">
            <div class="video-overlay">
                <div class="video-icons">
                    <a href="https://www.youtube.com/@st.michaelscollegeofiligan7687"><img
                            src="../../static/images/yt.png" alt=""></a>
                    <a href="https://www.facebook.com/SMC.ILIGAN.INC"><img src="../../static/images/fb2.png" alt=""></a>
                </div>
                <video autoplay muted loop>
                    <source src="../../static/images/cover.mp4" type="video/mp4">
                </video>

            </div>`
        </div>
    </div>
</div>

{% endblock %}
