

{% extends "master.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<script type="module" src="{% static 'js/appearance.js' %}"></script>
{% endblock %}

{% block content %}
<body>
  <div class="PageCoverParent">
      <div class="PageCover-Content">
        <h2>ENSURING <span>ETHICAL</span> INTEGRITY</h2>
        <p>All student research adheres to the highest ethical standards <br>We review and approve research protocols</p>
        <button type="">Create Appointment</button>
        <div class="PageCover">
          <div class="Float1">
            <p>INNOVATIVE</p>
          </div>
          <div class="Float2">
            <p>METICULOUS</p>
          </div>
          <div class="Float3">
            <p>PROFESSIONAL</p>
          </div>
          <div class="Float4">
            <p>TRANSPARENT</p>
          </div>
        <img src="../static/images/Group 1.png" alt="">
        </div>       
      </div>
  </div>

  {% include "nav.html" %}
    
  <div class="main-div">
     </div>
  <div class="AboutPage">
      <div class="AP-Top">
        <h2>WHY YOU NEED AN ETHICS REVIEW</h2>    
        <p>"Research ethics review is essential for protecting your study participants, securing proper permissions, and ensuring that your research complies with ethical standards. It strengthens the credibility of your study and is often a requirement for approval by your academic department."</p>
      </div>
      <div class="AP-Mid">
        <div class="APM-Left">
           
        </div>
        <div class="APM-Right">
            <h2>Importance</h2>
        </div>
      </div>
  </div>

</body>

{% endblock %}


