{% extends "master.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<!-- <script type="module" src="{% static 'js/appearance.js' %}"></script> -->
{% endblock %}

{% block content %}
<body>
  <div class="PageCoverParent">
      <div class="PageCover-Content">
        <h2>ENSURING <span>ETHICAL</span> INTEGRITY</h2>
        <p>All student research adheres to the highest ethical standards <br>We review and approve research protocols</p>
        <button type="">Create Appointment</button>
        <div class="PageCover">
          <div class="Float1">
            <p>INNOVATIVE</p>
          </div>
          <div class="Float2">
            <p>METICULOUS</p>
          </div>
          <div class="Float3">
            <p>PROFESSIONAL</p>
          </div>
          <div class="Float4">
            <p>TRANSPARENT</p>
          </div>
        <img src="../static/images/Group 1.png" alt="">
        </div>       
      </div>
  </div>

  {% include "nav.html" %}
    
  <div class="main-div">
     </div>
  <div class="AboutPage">
      <div class="AP-Top">
        <h2>WHY YOU NEED AN <span>ETHICS</span> REVIEW</h2>    
        <p>"Research ethics review is essential for protecting your study participants, securing proper permissions, and ensuring that your research complies with ethical standards. It strengthens the credibility of your study and is often a requirement for approval by your academic department."</p>
      </div>
      <div class="AP-Mid">
        <div class="APM-Left">
           <div class="APML-Image">
            <img src="../static/images/Electronbuilder--Streamline-Simple-Icons.png" alt="">
           </div>
           <div class="APML-border"></div>
        </div>
        <div class="APM-Right">
            <h2>IMPORTANCE OF ETHICS REVIEW</h2>
            <p>An ethics review is a cornerstone of responsible research, ensuring that studies adhere to ethical guidelines, especially when human participants or sensitive data are involved. This process safeguards the rights, privacy, and well-being of participants, reinforcing the integrity and credibility of the research. By undergoing an ethics review, researchers align their work with legal and institutional standards, enhancing trust and accountability in their findings. Ethics review also helps researchers foresee and mitigate potential risks, promoting informed consent and transparent practices. For students, this step is often required by academic institutions, solidifying ethical principles as a core part of their scholarly journey.</p>
            <p>For students, the ethics review is often a mandatory part of their academic research journey, underscoring ethical principles as essential to their scholarly practice. It aligns their work with both institutional and legal standards, fostering responsible research habits early in their careers. By participating in the ethics review, students gain insights into the importance of ethical guidelines, preparing them to navigate complex ethical dilemmas in their future research and professional endeavors. </p>
        </div>
      </div>
  </div>

</body>

{% endblock %}


