{% extends "master.html" %}

{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static './css/adminDashboard.css' %}">
<link rel="stylesheet" href="{% static './css/adminColleges.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}

<div class="MainContainer">
    {% include './adminTopNav.html' %}
    <div class="MC-Bottom">
        {% include './adminNav.html' %}   

        <div id="College-Content">
            <div class="CC-Top">
                <div class="CCT-Left">  
                      <button id="ListOfColleges">Appointments</button>
                </div> 
                </div>
              <div id="StudentAcc-Area">
                  <table>
                    <tr>
                    <th>Appointment Date</th>
                    <th>Appointment Name</th>
                    <th>Status</th>
                    <th>Transaction ID</th>
                    <th>Institution</th>
                    <th>Ethical Answers</th>
                    <th>Student ID</th>
                    <th>Options</th>
                    </tr>
                      {% for x in appointments %}
                    <tr>
                        <td>{{ x.appointment_date }}</td>
                        <td>{{ x.appointment_name }}</td>
                        <td>{{ x.status }}</td>
                        <td>{{ x.transaction_id }}</td>
                        <td>{{ x.institution }}</td>
                        <td>{{ x.ethicalAnswers_id }}</td>
                        <td>{{ x.student_id }}</td>
                      <td>
                        <button class="TableEdit-Btn" type="">Edit</button>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
          </div>

    </div>

</div>

   

{% endblock %}
