{% extends "master.html" %}

{% block content %}
<div class="MainContainer">
    <h3>Edit Ethical Question</h3>
    <form method="POST" action="{% url 'adminEditEthicalRiskQuestions' ethical_question.id %}">
        {% csrf_token %}
        <label for="ethical-questions">Ethical Question</label>
        <input type="text" id="ethical-questions" name="ethical-questions" value="{{ ethical_question.ethicalQuestions }}" required>
        <button type="submit">Save Changes</button>
        <a href="{% url 'adminEthicalRiskQuestions' %}"><button type="button">Cancel</button></a>
    </form>
</div>
{% endblock %}
