{% extends "master.html" %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static './css/adminDashboard.css' %}">
<link rel="stylesheet" href="{% static './css/adminEthicalRiskQuestions.css' %}">
<script type="module" src="{% static 'js/adminEthicalRiskQuestions.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}



{% block content %}
<!-- Modal for Adding Ethical Questions -->
<div id="Modal-EthicalRiskQuestions-Overlay" style="display: none;">
    <div id="CO-Container">
        <div class="CO-Top">
            <h3>Add Ethical Questions</h3>
        </div>
        <div class="CO-Bottom">
            <form method="POST" action="{% url 'adminAddEthicalRiskQuestions' %}">
                {% csrf_token %}
                <label for="ethical-questions">Ethical Question</label>
                <textarea rows="12" cols="51" id="ethical-questions" name="ethical-questions" required placeholder="Enter ethical question"></textarea>
        </div>
        <div class="CO-Bottom2">
            <button type="button" id="cancel-ethicalquestion">Cancel</button>
            <button type="submit" id="add-ethicalquestion">Submit</button>
            </form>
        </div>
    </div>
</div>



<div class="MainContainer">
    {% include 'modal/adminEditEthicalQuestion.html' %}
  {% include './adminTopNav.html' %} 
  
  <div class="MC-Bottom">
      {% include './adminNav.html' %}

      
      <div id="College-Content">

          <div class="CC-Top">
              <div class="CCT-Left">
                  <button id="ListOfEthicalAnswers">Ethical Questions</button>
              </div> 
              <div class="CCT-Right">
                  <button id="AddEthicalRiskQuestions-btn">Add Ethical Question</button> 
              </div> 
          </div>

          <div id="StudentAcc-Area">
              <table>
                  <tr>
                      <th>Ethical Questions</th>
                      <th>Options</th>
                  </tr>
                  {% for x in ethicalRiskQuestions %}
                  <tr>
                      <td>{{ x.ethicalQuestions }}</td>
                      <td>
                        <button class="TableEdit-Btn" type="button" data-id="{{ x.id }}" data-question="{{ x.ethicalQuestions }}">Edit</button>

                          <a href="{% url 'adminDeleteEthicalRiskQuestions' x.id %}" onclick="return confirm('Are you sure you want to delete this question?');">
                              <button class="TableDelete-Btn" type="button">Delete</button>
                          </a>
                      </td>
                  </tr>
                  {% endfor %}
              </table>
          </div>
      </div>
  </div>
</div>
{% endblock %}
