<nav>
  <div class="nav-content">
    <ul>
      <li>
        <div class="NavContainer">
          <img src="../../static/images/Home-2--Streamline-Flex.png" alt="">
        </div>
        <p>Home</p>
      </li>
      <li>
        <div class="NavContainer">
          <img src="../../static/images/Supervisor-Account-Fill--Streamline-Rounded-Fill---Material-Symbols.png" alt="">
        </div>
        <p>Accounts</p>
      </li>
      <li>
        <div class="NavContainer">
          <img src="../../static/images/Calendar-Note--Streamline-Plump (1).png" alt="">
        </div>
        <p>Appointments</p>
      </li>
      <li>
        <div class="NavContainer">
          <img src="../../static/images/File-Copy-Fill--Streamline-Sharp-Fill---Material-Symbols.png" alt="">
        </div>
        <p>Manuscripts</p>
      </li>
      <li>
        <div class="NavContainer">
          <img src="../../static/images/Schedule--Streamline-Unicons.png" alt="">
        </div>
        <p>Schedule</p>
      </li>
      <li>
        <div class="NavContainer">
          <img src="../../static/images/Cog-Setting--Streamline-Micro.png" alt="">
        </div>
        <p>Settings</p>
      </li>
      <li>
        <div class="NavContainer">
          <img src="../../static/images/Logout-3--Streamline-Solar.png" alt="">
        </div>
        <p>Logout</p>
      </li>
    </ul>
    <ul>
      <li>
        <div class="NavContainer">
          <img src="../../static/images/Question-Square--Streamline-Solar.png" alt="">
        </div>
        <p>Help & Support</p>
      </li>
    </ul>
  </div>
</nav>

