{% extends "master.html" %}

{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static './css/adminDashboard.css' %}">
<link rel="stylesheet" href="{% static './css/adminAccount.css' %}">
<script type="module" src="{% static 'js/adminAccounts.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
{% include 'modal/addAccountAdmin.html' %}
<div class="MainContainer">
     <div class="messagesA">
        {% if messages %}
            {% for message in messages %}
                <div class="messageA {% if message.tags %}{{ message.tags }}{% endif %}">
                    <div class="{% if 'success' in message.tags %}message-successA{% elif 'error' in message.tags %}message-errorA{% else %}message-info{% endif %}">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% include './adminTopNav.html' %}    

    <div class="MC-Bottom">
        {% include './adminNav.html' %}      
        
        <div id="Accounts-Content">
            <div class="AC-Top">
              <div class="ACT-Left">
                    <button id="Students-Accounts">Students</button>
                    <button id="Reviewer-Accounts">Reviewer</button>
                    <button id="Admin-Accounts">Admin</button> 
                </div> 
                <div class="ACT-Right">
                    <button id="InviteAcc-btn">Invite Users</button> 
                </div> 
              </div>
             <div id="StudentAcc-Area">
                <table>
                  <tr>
                    <th>Profile</th>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>College</th>
                  </tr>
                  {% for student in students %}
                  <tr>
                    <td>
                        {% if student.google_picture %}
                            <img class="studentProfilePic" src="{{ student.google_picture }}" />
                        {% else %}
                            <img class="studentProfilePic2" src="../../static/images/User-2-Fill--Streamline-Mingcute-Fill.png" alt="../../static/images/User-2-Fill--Streamline-Mingcute-Fill.png" />
                        {% endif %}    
                    </td>
                    <td>{{ student.auth_user.username }}</td>
                    <td>{{ student.auth_user.firstname }}</td>
                    <td>{{ student.auth_user.lastname }}</td>
                    <td>{{ student.auth_user.email }}</td>
                    <td>
                      {% for account in student.accounts_set.all %}
                        {{ account.college_id.college_name }}
                      {% endfor %}
                    </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
              <div id="ReviewerAcc-Area">
               <table>
                  <tr>
                    <th>Profile</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>College</th>
                  </tr>
                  {% for reviewer in reviewers %}
                  <tr>
                    <td>
                        {% if reviewer.google_picture %}
                            <img class="studentProfilePic" src="{{ reviewer.google_picture }}" alt="../../static/images/User-2-Fill--Streamline-Mingcute-Fill.png" />
                        {% else %}
                            <img class="studentProfilePic2" src="../../static/images/User-2-Fill--Streamline-Mingcute-Fill.png" alt="../../static/images/User-2-Fill--Streamline-Mingcute-Fill.png" />
                        {% endif %}    
                    </td>
                    <td>{{ reviewer.auth_user.firstname }}</td>
                    <td>{{ reviewer.auth_user.lastname }}</td>
                    <td>{{ reviewer.auth_user.email }}</td>
                    <td>
                        {% for reviewerAcc in reviewer.accounts_set.all %}
                          {{ reviewerAcc.invite_status }}
                        {% endfor %}
                    </td>

                  </tr>
                  {% endfor %}
                </table>
              </div>
              <div id="AdminAcc-Area">
                <table>
                  <tr>
                    <th>Profile</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Status</th>
                  </tr>
                  {% for admin in admins %}
                  <tr>
                    <td>
                        {% if admin.google_picture %}
                            <img class="studentProfilePic" src="{{ admin.google_picture }}" alt="../../static/images/User-2-Fill--Streamline-Mingcute-Fill.png" />
                        {% else %}
                            <img class="studentProfilePic2" src="../../static/images/User-2-Fill--Streamline-Mingcute-Fill.png" alt="../../static/images/User-2-Fill--Streamline-Mingcute-Fill.png" />
                        {% endif %}    
                    </td>
                    <td>{{ admin.auth_user.firstname }}</td>
                    <td>{{ admin.auth_user.lastname }}</td>
                    <td>{{ admin.auth_user.email }}</td>
                    <td>
                        {% for adminAcc in admin.accounts_set.all %}
                          {{ adminAcc.invite_status }}
                        {% endfor %}
                    </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
        </div>
    </div>
</div>

{% endblock %}
