{% extends "master.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static './css/adminDashboard.css' %}">
<link rel="stylesheet" href="{% static './css/adminColleges.css' %}">
<script type="module" src="{% static 'js/adminAppointment.js' %}"></script>
<script type="module" src="{% static 'js/adminView.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
{% include 'modal/admineditAppointment.html' %}
{% include 'modal/adminViewAppointment.html' %}
<div class="MainContainer">
    {% include './adminTopNav.html' %}
    <div class="MC-Bottom">
        {% include './adminNav.html' %}

        <div id="College-Content">
            <div class="CC-Top">
                <div class="CCT-Left">  
                      <button class="active-btn" style="background-color: rgb(255, 255, 255);" id="ListOfColleges">Appointments</button>
                </div> 
            </div>
            <div id="StudentAcc-Area">
                <table>
                    <tr>
                        <th>Appointment Date</th>
                        <th>Thesis Title</th>
                        <th>Transaction ID</th>
                        <th>Members & Receipt No.</th>
			            <th>College</th>
			            <th>Status</th>
                        <th>Options</th>
                    </tr>
                    {% for x in appointments %}
                    <tr>
                        <td>{{ x.appointment_date }}</td>
                        <td>{{ x.account_id.student_id.manuscript_id.thesis_title }}</td> 
                        <td>{{ x.transaction_id }}</td>
		   <td>
		    <select class="appointment-select">
			{% for member in x.account_id.student_id.manuscript_id.student_set.all %}
			    <option value="{{ member.id }}">
				{{ member.auth_user.get_full_name }} - {{ member.receipt_no }}
			    </option>
			{% empty %}
			    <option>No members</option>
			{% endfor %}
		    </select>
		   </td>
		        <td>{{ x.account_id.college_id.college_initials }}</td>
                        <td>{{ x.status }}</td>
                        <td>
                            <button class="EditAppointment-btn"  data-id="{{ x.id }}" type="button">Edit</button>
                            <button id="ViewAppointment-btn" class="TableEdit-Btn">View</button>
			</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

