{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/schedules.css' %}">
{% endblock %}

{% include "Reviewer/sidebar.html" %}

{% block content %}
<div class="container">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        
    <form method="POST" action="">
        {% csrf_token %}
        <label for="schedname">Schedule Name:</label>
        <input type="text" name="schedname" id="schedname" value="{{ schedname }}" required>
        
        <label for="datetime">Date & Time:</label>
        <input type="datetime-local" name="datetime" id="datetime" value="{{ datetime|date:"Y-m-d\TH:i" }}" required>
    
        <label for="description">Description:</label>
        <textarea name="description" id="description">{{ description }}</textarea>
        
        <button class="button-add" type="submit">Add Schedule</button>
    </form>
</div>



{% endblock %}
