<nav>
    <div class="nav-content">
      <ul>
        <a href="{% url 'adminDashboard' %}">
          <li class="{% if request.path == '/adminDashboard/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/Home-2--Streamline-Flex.png" alt="">
            </div>
            <p>Home</p>
          </li>
        </a>
  
        <a href="{% url 'adminAccounts' %}">
          <li class="{% if request.path == '/adminAccounts/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/Supervisor-Account-Fill--Streamline-Rounded-Fill---Material-Symbols.png" alt="">
            </div>
            <p>Accounts</p>
          </li>
        </a>
  
        <a href="{% url 'adminAppointments' %}">
          <li class="{% if request.path == '/adminAppointments/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/Calendar-Note--Streamline-Plump (1).png" alt="">
            </div>
            <p>Appointments</p>
          </li>
        </a>
  
        <a href="{% url 'adminManuscripts' %}">
          <li class="{% if request.path == '/adminManuscripts/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/File-Copy-Fill--Streamline-Sharp-Fill---Material-Symbols.png" alt="">
            </div>
            <p>Manuscripts</p>
          </li>
        </a>
  
        <a href="{% url 'adminSchedule' %}">
          <li class="{% if request.path == '/adminSchedule/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/Schedule--Streamline-Unicons.png" alt="">
            </div>
            <p>Schedule</p>
          </li>
        </a>
  
        <a href="{% url 'adminSettings' %}">
          <li class="{% if request.path == '/adminSettings/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/Cog-Setting--Streamline-Micro.png" alt="">
            </div>
            <p>Settings</p>
          </li>
        </a>
  
        <a href="{% url 'logout' %}">
          <li>
            <div class="NavContainer">
              <img src="../../static/images/Logout-3--Streamline-Solar.png" alt="">
            </div>
            <p>Logout</p>
          </li>
        </a>
      </ul>
  
      <ul>
        <a href="{% url 'adminHelpSupport' %}">
          <li class="{% if request.path == '/adminHelpSupport/' %}active{% endif %}">
            <div class="NavContainer">
              <img src="../../static/images/Question-Square--Streamline-Solar.png" alt="">
            </div>
            <p>Help & Support</p>
          </li>
        </a>
      </ul>
    </div>
  </nav>
  
  