



<div class="Snavbar-container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon">
                        <img src="../static/images/logo9.png" alt="">
                    </span>
                    <span class="title">SMC Ethics Office</span>
                </a>
            </li>

            <li class="{% if request.path == '/studentdashboard/' %}active{% endif %}">
                <a href="{% url 'studentdashboard' %}">
                    <span class="icon">
                        <ion-icon name="{% if request.path == '/studentdashboard/' %}home-sharp{% else %}home-outline{% endif %}"></ion-icon>
                    </span>
                    <span class="title">Home</span>
                </a>
            </li>

            <li class="{% if request.path == '/studentAppointment/' %}active{% endif %}">
                <a href="{% url 'studentAppointment' %}">
                    <span class="icon">
                        <ion-icon name="{% if request.path == '/studentAppointment/' %}calendar-sharp{% else %}calendar-outline{% endif %}"></ion-icon>
                    </span>
                    <span class="title">Appointment</span>
                </a>
            </li>

            <li class="{% if request.path == '/studentManuscript/' %}active{% endif %}">
                <a href="{% url 'studentManuscript' %}">
                    <span class="icon">
                        <ion-icon name="{% if request.path == '/studentManuscript/' %}briefcase-sharp{% else %}briefcase-outline{% endif %}"></ion-icon>
                    </span>
                    <span class="title">Manuscript</span>
                </a>
            </li>

            <li class="{% if request.path == '/studentSettings/' %}active{% endif %}">
                <a href="{% url 'studentSettings' %}">
                    <span class="icon">
                        <ion-icon name="{% if request.path == '/studentSettings/' %}settings-sharp{% else %}settings-outline{% endif %}"></ion-icon>
                    </span>
                    <span class="title">Settings</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="help-circle-outline"></ion-icon>
                    </span>
                    <span class="title">Help</span>
                </a>
            </li>

            <li id="LogoutBTN">
                <a>
                    <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span class="title">Sign out</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    let LogoutBTN = document.getElementById('LogoutBTN');
    let ModalLogoutOverlay = document.getElementById('Modal-Logout-Overlay');

    LogoutBTN.addEventListener('click', function(){
        ModalLogoutOverlay.style.display = "flex";
    })
</script>



