{% extends "master.html" %}

{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static './css/studentNavbar.css' %}">
<link rel="stylesheet" href="{% static './css/StudentModal.css' %}">
<link rel="stylesheet" href="{% static './css/studentDashboard.css' %}">
{% endblock %}

{% include '../modal/newUser.html' %}

{% block content %}
{% if is_new_user %}
{% include '../modal/addthesisInfo.html' %}
{% include '../modal/completeProfileModal.html' %}
<script type="module" src="{% static './js/gettingStarted.js' %}"></script> 

{% include 'students/studentNavbar.html' %}
  <div class="StudentMain-Content">
      <div class="SMC-Top">
         <div class="SMCT-Left">
            <p>Home</p>
         </div>
         <div class="SMCT-Right">
            <div class="ProfilePic1">
            {% if profile_picture %}
                <img src="{{ profile_picture }}" alt="Profile Picture">
            {% else %}
              <div class="PPProf1">
                <img src="../../static/images/Account-Circle-Fill--Streamline-Remix-Fill.png" alt="Default Profile">              
              </div>
            {% endif %}
        
              {% if account_type %}
                  <p>{{ account_type }}</p>
              {% endif %}
            </div> 
         </div>
      </div>

      <div class="SMC-Mid">
        <div class="SMCM-Left">
            <h3>Welcome to SMC's Research Ethics Office</h3>
            <p>Dedicated to upholding the highest standards of ethical research at SMC.</p>          
        </div>

      </div>
      <div class="SMC-Bottom">

        
        <div class="SMCB-Top">
                      

        <h3>Getting Started</h3>
        </div> 
         {% include "../gettingStarted/gettingStarted.html" %}

        {% else %}

        {% endif %}
      </div>
  </div>

{% include './navJsConfig.html' %}
{% endblock %}
