{% extends "master.html" %}

{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static './css/studentNavbar.css' %}">
<link rel="stylesheet" href="{% static './css/studentDashboard.css' %}">
{% endblock %}

{% include '../modal/newUser.html' %}

{% block content %}
{% include 'students/studentNavbar.html' %}
  <div class="StudentMain-Content">
      <div class="SMC-Top">
         <div class"SMCT-Left">
            <p>Home</p>
         </div>
      </div>

      <div class="SMC-Mid">
          <h3>Welcome to SMC Research Ethics Office</h3> 
        </div>
      <div class="SMC-Bottom">
          <div class="SMCB-Top">
            
          </div>
          <h3>Getting Started</h3>
        <div class="SMCB-Right">

        </div>
      </div>
  </div>

{% include './navJsConfig.html' %}
{% endblock %}
