* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


[data-theme="dark"] {
  --bg-color: #0D0D0F;

}

[data-theme="light"] {
  --bg-color: #f6f6f9;

}

body {
  background-color: var(--bg-color);
  font-family: "Montserrat", sans-serif;
  background-color: #f4f6f9;
}

nav {
  padding: 1rem;
  display: flex;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

nav ul {
  width: 100%;
  display: flex;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  padding: 0.6rem 1rem;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}



.password-reset-container {
  max-width: 500px;
  background: #fff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
}

.password-reset-container p {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 2rem;

}

h2 {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 0.4rem;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  font-size: 14px;
  color: #555;
  display: block;
  margin-bottom: 8px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

.form-group input,
select {
  outline: none;
}

.form-text {
  font-size: 12px;
  color: #777;
}

.form-text ul {
  padding-left: 20px;
  margin-top: 5px;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

select.form-control {
  height: 40px;
}

.password-requirements {
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 12px;
  color: #666;
}

.password-requirements ul {
  list-style-type: disc;
  padding-left: 20px;
}
