@font-face {
  font-family: 'SHARY-Bold';
  src: url('../fonts/SHARY-Bold.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

[data-theme="dark"] {
  --bg-color: #999997;
  --text-color: #BABABA;
  --login-container: #1d1d1d;
  --border: #DCDCDE;
  --button-color: #0084ff;
  --button-hover: #0179e8;
  --container-border: #d7dde0;
  --h3-Top: #07192a;
  --input-bg: #f3f4f7;
  --icon-filter: brightness(0.5) invert(0.8);
  --nav-bg-icon: #f8f8fa;
  --nav-p: #465d7f;
  --nav-hover: #ebebff;
  --nav-p-hovered: #1e5cc3;
  --calendarView-btn-color: #f3f4f7;
  --modal-container: #ffffff;

}

[data-theme="light"] {
  --bg-color: #999997;
  --text-color: #373131;
  --login-container: #ffffff;
  --border: #DCDCDE;
  --button-color: #0084ff;
  --button-hover: #0179e8;
  --container-border: #d7dde0;
  --h3-Top: #07192a;
  --input-bg: #f3f4f7;
  --icon-filter: brightness(0.5) invert(0.4);
  --nav-bg-icon: #f3f4f7;
  --nav-p: #465d7f;
  --nav-hover: #ebebff;
  --nav-p-hovered: black;
  --calendarView-btn-color: #f3f4f7;
  --modal-container: #ffffff;
}

body {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), var(--container-border));
  font-family: "Montserrat",
    sans-serif;
}

nav {
  padding: 1rem;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  z-index: 2;
}

nav ul {
  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(15px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.44);
  border-radius: 12px;

  display: flex;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1rem;

}

nav ul li {
  padding: 0.6rem 1.7rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--nav-p);
  font-weight: 600;
  font-size: 0.8rem;
}

nav ul li a:hover {
  cursor: pointer;
  font-weight: 700;
  color: var(--button-color);
}


.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.AboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  border: 1px solid black;
}

.AP-Top {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AP-Top h2 {
  font-size: 4rem;
  font-family: 'SHARY-Bold';
}

.AP-Top p {
  text-align: center;
  width: 70%;
}

.AP-Mid {
  width: 80%;
  height: 70%;
  border: 1px solid black;
}

.password-reset-container {
  max-width: 500px;
  background: #fff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
}

.password-reset-container p {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 2rem;

}

h2 {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 0.4rem;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  font-size: 14px;
  color: #555;
  display: block;
  margin-bottom: 8px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

.form-group input,
select {
  outline: none;
}

.form-text {
  font-size: 12px;
  color: #777;
}

.form-text ul {
  padding-left: 20px;
  margin-top: 5px;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

select.form-control {
  height: 40px;
}

.password-requirements {
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 12px;
  color: #666;
}

.password-requirements ul {
  list-style-type: disc;
  padding-left: 20px;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  transition: color 0.4s ease;
}

.PageCoverParent {
  width: 100%;
  height: 100%;
}

.PageCover-Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.PageCover-Content h2 {
  font-family: SHARY-Bold;
  font-size: 5rem;
  top: 7rem;
  position: absolute;
}

.PageCover-Content span {
  color: var(--button-color);
}

.PageCover-Content p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  top: 13.5rem;
  position: absolute;
  letter-spacing: 3px;
  color: var(--nav-p);
  text-align: center;
  line-height: 1.5rem;
}

.PageCover-Content button {
  position: absolute;
  top: 18rem;
  padding: 0.8rem 3rem;
  font-family: "Montserrat", sans-serif;
  background-color: var(--button-color);
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 10px;
}

.PageCover {
  margin-top: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 64%;
  border-radius: 70px;
  overflow: visible;
  position: relative;
}

.Float1 {
  position: absolute;
  z-index: 2;
  left: 5rem;
  top: -4rem;
}

.Float1 p {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 0.9rem 2rem;
  border-radius: 10px;
  color: black;
  font-family: SHARY-Bold;
}

.Float2 {
  position: absolute;
  z-index: 2;
  left: 8rem;
  top: 2rem;
}

.Float2 p {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 0.9rem 2rem;
  border-radius: 10px;
  color: black;
  font-family: SHARY-Bold;
}

.Float3 {
  position: absolute;
  z-index: 2;
  right: 14rem;
  top: 8rem;
}

.Float3 p {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 0.9rem 2rem;
  border-radius: 10px;
  color: black;
  font-family: SHARY-Bold;
}

.Float4 {
  position: absolute;
  z-index: 2;
  right: 9rem;
  top: 14rem;
}

.Float4 p {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 0.9rem 2rem;
  border-radius: 10px;
  color: black;
  font-family: SHARY-Bold;
}

.PageCover img {
  position: absolute;
  border-radius: 50px;
  object-fit: cover;
  width: 100%;
  height: 100%;

}
