* {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
}

[data-theme="dark"] {
  --bg-color: #0a0a0a;
  --text-color: #BABABA;
  --login-container: #1d1d1d;
  --border: #DCDCDE;
  --button-color: #1834E7;
  --button-hover: #0b1e9a;
}

[data-theme="light"] {
  --bg-color: #f8f9ff;
  --text-color: #373131;
  --login-container: #ffffff;
  --border: #DCDCDE;
  --button-color: #1834E7;
  --button-hover: #0b1e9a;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  margin: auto;

}

.login-container {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
}

.l-top {
  margin-top: 2rem;
  width: 80%;
}

.input-group {
  width: 100%;
  margin-bottom: 15px;
}

.google-btn {
  width: 100%;
  padding: 0.7rem 1rem;
  background-color: var(--bg-color);
  border: 1px solid var(--border);
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.google-btn img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 2rem;
}

.divider::before,
.divider::after {
  width: 100%;
  content: '';
  border-bottom: 1px solid var(--border);
  margin: 0 10px;
}

.divider span {
  font-size: 14px;
  color: var(--text-color);
}

.LoginTop {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 80%;
  flex-direction: column;
}

.LoginTop h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}

.LoginTop p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  margin-top: -0.5rem;
}

.login {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;

  background-color: var(--login-container);
}

.login form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input[type="text"],
input[type="password"],
input[type="username"],
input[type="email"],
input[type="password2"] {
  width: 100%;
  padding: 0.7rem 1rem;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  font-weight: 600;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

.video-overlay {
  width: 100%;
  height: 100%;

  background-color: #02051cef;
  z-index: 3;
  position: relative;
}

.video-icons {
  padding: 1rem;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.video-icons a {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1rem;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;

  opacity: 50%;
}

.login-btn {
  margin-top: 1rem;
  width: 100%;
  padding: 0.8rem 1rem;
  background-color: #1834E7;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: var(--button-hover);
}

.signup-btn {
  margin-top: 1rem;
  width: 100%;
  padding: 0.8rem 1rem;
  background-color: #1834E7;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.signup-btn:hover {
  background-color: var(--button-hover);
}

.l-bot a {
  color: rgb(39, 6, 252);
  text-decoration: none;
  font-size: 1rem;

}

.l-bot {
  margin-top: 2rem;
  padding-top: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
}

.pic {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* --------------------------Register Part--------------------------------*/
.register-container {
  display: flex;
  padding: 20px;
  border-radius: 15px;
  width: 900px;
  height: 650px;
  justify-content: space-between;
  align-items: center;
}


.register {
  width: 400px;
}

.register form {
  width: 300px;
  margin: 60px auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.r-bot a {
  color: rgb(39, 6, 252);
  text-decoration: none;
  font-size: 1rem;

}

.r-bot p {
  margin-top: 2rem;
  padding-top: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
}

.LoginHeader {
  display: flex;
  align-items: center;
  width: 80%;
}

.LoginHeader a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.LoginHeader h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  color: var(--text-color);
}

.LoginHeader img {
  width: 4.6rem;
  height: 4.6rem;
  object-fit: cover;
  margin-right: 0.8rem;
}

.LoginMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.LoginFooter {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 80%;
}

.LoginFooter span {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  width: 100%;
  padding: 1rem;
}
