#Modal-Logout-Overlay {
    width: 100vw;
    height: 100vh;
    background-color: #565a6241;
    z-index: 1;
    position: fixed;
    display: none;
    overflow: hidden;
  }
  
  #MSLog-Container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 34rem;
    background-color: var(--modal-container);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-out forwards;
    padding: 2.4rem;
  }
  