[data-theme="dark"] {
  --bg-color: #0a0a0a;
  --text-color: #BABABA;
  --login-container: #1d1d1d;
  --border: #DCDCDE;
  --button-color: #0084ff;
  --button-hover: #0179e8;
  --container-border: #d7dde0;
  --h3-Top: #07192a;
  --input-bg: #f3f4f7;
  --icon-filter: brightness(0.5) invert(0.8);
  --nav-bg-icon: #f8f8fa;
  --nav-p: #465d7f;
  --nav-hover: #ebebff;
  --nav-p-hovered: #1e5cc3;
  --calendarView-btn-color: #f3f4f7;
  --modal-container: #ffffff;
  --student-p-element: #373b44;
  --student-h3-element: #080a16;
}

[data-theme="light"] {
  --bg-color: #f8f9ff;
  --text-color: #373131;
  --login-container: #ffffff;
  --border: #DCDCDE;
  --button-color: #0084ff;
  --button-hover: #0179e8;
  --container-border: #d7dde0;
  --h3-Top: #07192a;
  --input-bg: #f3f4f7;
  --icon-filter: brightness(0.5) invert(0.4);
  --nav-bg-icon: #f3f4f7;
  --nav-p: #465d7f;
  --nav-hover: #ebebff;
  --nav-p-hovered: black;
  --calendarView-btn-color: #f3f4f7;
  --modal-container: #ffffff;
  --student-p-element: #373b44;
  --student-h3-element: #080a16;
}


body {
  background-color: var(--body-bg-student);
  min-height: 100vh;
  overflow-x: hidden;
}


.StudentMain-Content {
  margin-left: 6rem;
  padding: 1rem;
  height: 100vh;
  width: 100%;
  background-color: var(--modal-container);
  transition: width 0.3s ease, margin-left 0.3s ease;
  border-radius: 10px;
}



#Modal-NewUser-Overlay {
  width: 100vw;
  height: 100vh;
  background-color: #565a6241;
  z-index: 7;
  position: absolute;
  display: none;
  overflow: hidden;

}

#MNU-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 30rem;
  background-color: var(--modal-container);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-out forwards;
  padding: 2rem;
}

.NewUserContainer h3 {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-weight: 550;
  text-align: center;
}

.NewUserContainer p {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 1.5rem;

}

.NUC-ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: 1px solid var(--container-border);
}

#MNU-Container img {
  width: 16rem;
  height: 16rem;
}

.MNUC-Top {
  width: 95%;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NumProgress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.5rem;
  height: 0.5rem;
  padding: 1rem;
  border-radius: 50%;
  color: var(--modal-container);
  font-weight: 600;
  font-size: 0.9rem;
  background-color: var(--button-color);
}

.ProgressLine {
  flex: 1;
  height: 0.15rem;
  background-color: var(--container-border);
  margin: 0 5px;
  position: relative;
  z-index: 0;
  top: -0.5rem;
}

.NumContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 3rem;
  max-width: 3rem;
}

.NumContainer p {
  margin-top: 8px;
  font-size: 0.7rem;
  color: #333;
  text-align: center;
}

#NewUserContainer1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.NewUserContainer .SendButton {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  width: 100%;
  background-color: var(--button-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 0.8rem;
}

.NewUserContainer .SkipButton {
  color: var(--button-color);
  border: 1px solid var(--container-border);
  border-radius: 5px;
  padding: 0.8rem 1rem;
  width: 100%;
  background-color: var(--input-bg);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 0.8rem;
}

.NewUserContainer .SendButton:hover {
  cursor: pointer;
  background-color: var(--button-hover);
}

#NewUserContainer2 {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.NUC-Inputs label {
  font-size: 0.9rem;
  font-weight: 600;
  width: 100%;

}

.NUC-Inputs input {
  outline: none;
  text-indent: 10px;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 5px;
  padding: 0.8rem 0rem;
  background-color: var(--input-bg);
  border: 1px solid var(--container-border);
}


#Newusercontainer3 {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Newusercontainer4 {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.SMC-Top {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6%;
  width: 96%;
  border: 1px solid black;
}



.SMCT-Left p {
  color: var(--button-color);
  font-size: 0.9rem;
  font-weight: 600;
}

.SMC-Mid {
  padding: 1rem;
  border: 1px solid black;
}

.SMC-Mid h3 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: var(--student-h3-element);
}

.SMC-Mid p {
  font-size: 1rem;
  color: var(--student-p-element);
}

.SMC-Bottom {
  display: flex;
  flex-direction: column;
  height: 94%;
}

.SMCB-Top {
  padding: 1rem;
}

.ProfilePic1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.7rem;
  border-radius: 5px;
  background-color: var(--nav-hover);
}

.ProfilePic1 img {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  object-fit: cover;
}

.ProfilePic1 p {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  color: var(--button-color);
  font-weight: 600;
}

.PPProf1 {
  border-radius: 5px;
  padding: 0.3rem 0.4rem;
  background-color: var(--modal-container);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.PPProf1 img {
  width: 1.2rem;
  height: 1.2rem;
  object-fit: cover;
  filter: invert(34%) sepia(88%) saturate(7471%) hue-rotate(180deg) brightness(1.1) contrast(1);
}
