
  <div class="SMCB-Bottom">
    <div class="GS-Container">
      <div class="GS-Left">
          <div class="GSL-Container">
            <img src="../../static/images/User-2-Fill--Streamline-Mingcute-Fill.png" alt="">  
          </div>
        </div>
        <div class="GS-Mid">
          <h3> Thesis Information</h3>
          <p>Please provide the details of your thesis for ethics review</p>
        </div>
        <div class="GS-Right">
          <button id="AddThesis-btn" type="">Add Info
            <img src="../../static/images/arrowRight.png" alt="">
          </button>
        </div>
    </div>

    <div class="GS-Container">
    <div class="GS-Left">
        <div class="GSL-Container">
          <img src="../../static/images/User-2-Fill--Streamline-Mingcute-Fill.png" alt="">  
        </div>
      </div>
      <div class="GS-Mid">
        <h3>Complete your profile</h3>  
        <p>Add your personal information below for appointments</p>
      </div>
      <div class="GS-Right">
        <button id="Complete-Profile-btn"type="">Profile
          <img src="../../static/images/arrowRight.png" alt="">
        </button>
      </div>
  </div>

  <div class="GS-Container">
    <div class="GS-Left">
        <div class="GSL-Container">
          <img src="../../static/images/User-2-Fill--Streamline-Mingcute-Fill.png" alt="">  
        </div>
      </div>
      <div class="GS-Mid">
      <h3>Add Thesis Members</h3>
      <p>If you do not have any members to invite, skip this step.</p>               
      </div>
      <div class="GS-Right">
        <button id="AddMembers-btn" type="">Add
          <img src="../../static/images/arrowRight.png" alt="">
        </button>
      </div>
  </div>

  <div class="GS-Container">
    <div class="GS-Left">
        <div class="GSL-Container">
          <img src="../../static/images/User-2-Fill--Streamline-Mingcute-Fill.png" alt="">  
        </div>
      </div>
      <div class="GS-Mid">
        <h3>Link Your Google Account</h3>  
        <p>Connect your Google account for easy access and sync.</p>
      </div>
      <div class="GS-Right">
        <button type="">Link
          <img src="../../static/images/arrowRight.png" alt="">
        </button>
      </div>
  </div>

  </div>




