<form method="POST" action=""> 
  <div id="Modal-ThesisInfo-Overlay">
    <div id="MTI-Container">
        <div class="MTIC-Top">
          <h3>Thesis Information</h3>
          <p>Kindly input the details of your thesis</p>
        </div>
        <div class="MTIC-Mid">
          <label for="">Thesis title</label>
          <input type="" name="thesisTitle" placeholder="Input thesis title">
          <label for="">Thesis Description</label>
          <input type="" name="thesisDescription" placeholder="Input brief description about your thesis"> 
        </div>
        <div class="MTIC-Bottom">
            <button id="CancelThesisOverlay" type="">Cancel</button> 
            <button id="SubmitThesisInfo" type="">Submit</button>
        </div>
    </div>
  </div>
</form>

