<form method="POST" action="{% url 'update_thesis_info' %}">
  {% csrf_token %}
  <div id="Modal-ThesisInfo-Overlay">
    <div id="MTI-Container">
        <div class="MTIC-Top">
          <h3>Thesis Information</h3>
          <p>Kindly input the details of your thesis</p>
        </div>
        <div class="MTIC-Mid">
          <label for="thesisTitle">Thesis title</label>
          <input type="text" name="thesisTitle" placeholder="Input thesis title" required>
          <label for="thesisDescription">Thesis Description</label>
          <input type="text" name="thesisDescription" placeholder="Input brief description about your thesis" required> 
        </div>
        <div class="MTIC-Bottom">
            <button type="button" id="CancelThesisOverlay" onclick="closeModal()">Cancel</button>
            <button type="submit" id="SubmitThesisInfo">Submit</button>
        </div>
    </div>
  </div>
</form>

