<form method="POST" action=""> 
  {% csrf_token %}
  <div id="Modal-Edit-Appointment-Overlay">
      <div id="MEA-Container">
          <div class="MEA-Top">
              <h2>ST. MICHAEL`S COLLEGE </h2>
              <h3>Research Ethics Review Office</h3>
          </div>

          <div class="MEA-Top2">
              <p>Claim Stab</p>
          </div>
          <div class="MEA-Bottom">
              <!-- Researchers -->
              <div class="MEAB1">
                  <label for="category-name">Researcher/s:</label>
                  <p id="researchers-list">No researchers</p> 
              </div>

              <!-- Department -->
              <div class="MEAB2">
                  <label for="category-name">Department:</label>
                  <p id="department-name"></p>

              </div>

              <!-- Transaction Code -->
              <div class="MEAB2">
                  <label for="category-name">Transaction Code:</label>
                  <p id="transaction-code">N/A</p> 
              </div>

              <!-- Type of Review -->
              <div class="MEAB2">
                  <label for="category-name">Type of Review:</label>
                  <p>Ethics Review</p>
              </div>

              <!-- Email -->
              <div class="MEAB2">
                  <label for="category-name">Email:</label>
                  <p id="email-address">N/A</p> 
              </div>

              <!-- Release Date -->
              <div class="MEAB2">
                  <label for="category-name">Release Date:</label>
                  <input type="date" name="release_date" id="release-date">
              </div>

              <!-- Received By -->
              <div class="MEAB2">
                  <label for="category-name">Received By:</label>
                  <input type="text" name="received_by" id="received-by">
              </div>
          </div>

          <div class="MEA-Bottom2">
              <button type="button" id="cancel-editapp-btn">Cancel</button>
              <button type="submit" id="submit-editapp-btn">Submit</button>
          </div>
      </div>
  </div>
</form>
