<form method="POST" action=""> 
  <div id="Modal-CompleteProfile-Overlay">
    <div id="MCP-Container">
        <h3>Complete Profile</h3>
        <div class="CP-Inputs">
          <label for="">First Name</label>
          <input type="" name="" value="">
          <label for="">Last Name</label>
          <input type="" name="" value="">
          <label for="">SMC Student No Name</label>
          <input type="" name="" value="">
          <label for="">Mobile Number</label>
          <input type="" name="" value="">
          <label for="">Thesis Title</label>
          <input type="" name="" value="">
        </div>
    </div>
  </div>
</form>

