<div id="gettingStartedConditionError-Overlay">
    <div id="GSCE-Container">
        <div class="NLC-1">
            <img src="../../static/images/No-Files-3--Streamline-Brooklyn.png" alt="">

        </div>
        <div class="NLC-2">
            <h3> Oops!</h3>
            <p>It looks like there are some incomplete steps. Please complete your profile, thesis information, and ensure your group is set up. </p>
            <button id="NotCompleteProfile-btn">Close</button>
        </div>
    </div>
</div>
