<form method="POST" action="{% url 'save_schedule' %}" enctype="multipart/form-data" id="manuscript_form">
  {% csrf_token %}

  <div id="Modal-Schedule-Overlay">
      <div id="MS-Container" class="MS-Container active-container">
          <div class="schedule-step-1">
              <div class="MSC-Top">
                  <h3>Application for Ethics Review</h3>
                  <p>Instructions to the Researchers: Please complete this form and ensure that you have included in your submission the documents you checked in Section 2. (This form is adapted from DOST, PHREB and MU-REB)</p>
              </div>
              <div class="MSC-Bottom">
                <div class="ThesisTypeSched">
		<div class="GenCont1Left">
		  <label for="schedule-type">Thesis Type</label>
                  <select name="thesis_type">
                      {% for thesis in thesisTypes %}
                      <option name="thesis_type" value="{{ thesis.id }}">{{ thesis.ThesisType }}</option>
                      {% endfor %}
                  </select>
		</div>
		<div class="GenCont1Right">
	          <label for="college-type">College</label>
                  <select name="college_id">
                      {% for college in colleges %}
                      <option name="college_id" value="{{ college.id }}">{{ college.college_name }}</option>
                      {% endfor %}
                  </select>
		</div>
                </div>

                <h4>I. General Information</h4>
                <div class="GenCont1">
                  <div class="GenCont1Left">
                      <label for="schedule-type">Title of the Study</label>
		      {% if thesis_title %}
		      <input type="text" name="thesis_title" value="{{ thesis_title }}" placeholder="Input title of your study" disabled>
                      {% endif %}
		      {% if manuscript_id %}
		      <input type="hidden" name="manuscript_id" value="{{ manuscript_id }}">
		      {% endif %}
		      {% if account_id %}
		      <input type="hidden" name="account_id" value="{{ account_id }}">
		      {% endif %}
		      <input type="hidden" name="appointment_date" id="appointment_date">
		  </div>
                  <div class="GenCont1Right">
                      <label for="schedule-date">Study Site</label>	
		      <input type="text" name="thesis_study_site" placeholder="Input study site">
		  </div>
                </div>
                <div class="GenCont1Bottom">
                    <label for="">Brief Description of the Study</label>
		    {% if thesis_description %}
                    <textarea rows="4" cols="30" placeholder="Create a brief description about your study" disabled>{{ thesis_description }}</textarea>
                    {% endif %}
		    <label for="">Name of Researchers</label>
                    <textarea rows="3" cols="30" disabled>{{ thesisMembers }}</textarea>
                </div>
                <div class="GenCont1">
                  <div class="GenCont1Left">
                      <label for="schedule-end-time">Email address</label>
                      {% if email %}
                      <input type="text" name="thesis_email" value="{{ email }}" placeholder="Input your email address" disabled>
                      {% endif %}
                  </div>
                  <div class="GenCont1Right">
                      <label for="schedule-end-time">Mobile No.</label>
                      {% if mobile_number %}
                      <input type="text" name="thesis_mobileNumber" value="{{ mobile_number }}" placeholder="Input your mobile number" disabled>
                      {% endif %}
                  </div>
                </div>
              </div>
              <div class="MSC-Bottom2">
                  <button type="button" class="firstButton" id="cancel-sched">Cancel</button>
                  <button type="button" class="secButton" id="next-step">Next</button>
              </div>
          </div>
      </div>

      <div id="MS-Container2" class="MS-Container">
          <div class="schedule-step-2">
              <div class="MSC-Top">
                  <h3>Step 2: Checklist of Documents</h3>
                  <p>Please provide further details to complete the review process.</p>
              </div>
              <div class="MSC-Bottom">
                <div class="GenCont1">
                    <div class="GenCont1Left">
                      <label for="">Category</label>
                      <select name="thesis_category">
                        {% for category in categories %}
                        <option name="thesis_category" value="{{ category.id }}">{{ category.category_name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                      <div class="GenCont1Right">
                        <label for="">Type of Study</label>
                        <select name="type_of_study">
                          {% for study_type in study_types %}
                          <option name="type_of_study" value="{{ study_type.id }}">{{ study_type.type_of_study }}</option>
                          {% endfor %}
                        </select>
                      </div>
                </div>

                <div class="GenCont1">
                  <div class="GenCont1Left">
                      <label for="schedule-end-time">Institution</label>
                      <input type="text" name="institution" value="St. Michael`s College" placeholder="Input your Institution">
                  </div>
                  <div class="GenCont1Right">
                      <label for="schedule-end-time">Address of Institution</label>
                      <input type="text" name="address_institution" value="74 Manuel L. Quezon Ave, Iligan City, 9200 Lanao del Norte" placeholder="Input address of Institution">
                  </div>
                </div>
                <div class="GenCont1Divider">
                <p>Duration of the study</p>
                </div>
                <div class="GenCont1">
                  <div class="GenCont1Left">
                      <label for="schedule-start-time">Start Date</label>
                      <input type="date" name="schedule_start_time">
                  </div>
                  <div class="GenCont1Right">
                      <label for="schedule-end-time">End Date</label>
                      <input type="date" name="schedule_end_time">
                  </div>
                </div>

                <div class="GenCont1">
                  <div class="GenCont1Left">
                      <label for="">Basic Requirements</label>
                      <select name="basic_docu">
                        {% for requirement in basic_requirements %}
                        <option name="basic_docu" value="{{ requirement.id }}">{{ requirement.basicRequirements }}</option>
                        {% endfor %}
                      </select>
                    </div>
                      <div class="GenCont1Right">
                        <label for="">Supplementary Documents</label>
                        <select name="supp_docu">
                          {% for document in supplementary_documents %}
                          <option name="supp_docu" value="{{ document.id }}">{{ document.supplementaryRequirements }}</option>
                          {% endfor %}
                        </select>
                      </div>
                </div>

              </div>
              <div class="MSC-Bottom2">
                  <button type="button" class="firstButton" id="back-step">Back</button>
                  <button  type="button"  class="secButton" id="next-step2">Next</button>
              </div>
          </div>
      </div>

      <div id="MS-Container3" class="MS-Container">
          <div class="schedule-step-2">
              <div class="MSC-Top">
                  <h3>Step 3: Ethical Questions</h3>
                  <p>Will your study / research involve:</p>
              </div>
              <div class="MSC-BottomEQ">
                {% for question in ethical_questions %}
                <div class="EA-Questions">
                    <span>{{ question.ethicalQuestions }}</span>
                    <div class="EA-Options">
                        <div>
                            <input type="radio" name="question_{{ question.id }}" value="Yes" id="yes_{{ question.id }}">
                            <label for="yes_{{ question.id }}">Yes</label>
                        </div>
                        <div>
                            <input type="radio" name="question_{{ question.id }}" value="No" id="no_{{ question.id }}">
                            <label for="no_{{ question.id }}">No</label>
                        </div>
                    </div>
                </div>
                {% endfor %}
              </div>

              <div class="MSC-Bottom2">
                  <button type="button" class="firstButton" id="back-step2">Back</button>
                  <button type="button" class="secButton" id="next-step3">Next</button>
              </div>
          </div>
      </div>

      <div id="MS-Container4" class="MS-Container">
        <div class="schedule-step-2">
            <div class="MSC-Top">
                <h3>Step 4: Add Manuscript Document</h3>
                <p>Will your study / research involve:</p>
            </div>
	<div class="MSC-BottomEQ">
	  <div class="GenCont1Bottom">
	    <button type="button" id="manuscript_upload_button" class="secButton">Upload Manuscript</button>
	    <input type="file" id="manuscript_file" name="manuscript_file" accept=".pdf" style="display: none;">
	    <p id="file_name_display" style="margin-top: 10px; color: #555;"></p>
	  </div>
	</div>

            <div class="MSC-Bottom2">
                <button type="button" class="firstButton" id="back-step3">Back</button>
                <button type="submit" class="secButton" id="submitAppointment">Submit</button>
            </div>
        </div>
    </div>

  </div>
</form>

<script>
    const getting_started_conditions = {{ getting_started_conditions|yesno:"true,false" }};
    const modalOverlay = document.getElementById('Modal-Schedule-Overlay');
    const containers = document.querySelectorAll('.MS-Container');
    const nextStepBtn = document.getElementById('next-step');
    const nextStepBtn2 = document.getElementById('next-step2');
    const nextStepBtn3 = document.getElementById('next-step3');
    const backStepBtn = document.getElementById('back-step');
    const backStepBtn2 = document.getElementById('back-step2');
    const backStepBtn3 = document.getElementById('back-step3');
    const cancelBtn = document.getElementById('cancel-sched');
    const submitAppointment = document.getElementById('submitAppointment');
    const manuscriptFileInput = document.getElementById('manuscript_file');
    const fileNameDisplay = document.getElementById('file_name_display');

    function showContainer(index) {
        containers.forEach((container, i) => {
            container.style.display = i === index ? 'block' : 'none';
        });
    }

    showContainer(0);

    nextStepBtn.addEventListener('click', () => {
        showContainer(1);
    });

    nextStepBtn2.addEventListener('click', () => {
        showContainer(2);
    });

    nextStepBtn3.addEventListener('click', () => {
      showContainer(3);
  });

    backStepBtn.addEventListener('click', () => {
        showContainer(0);
    });

  backStepBtn2.addEventListener('click', () => {
      showContainer(1);
  });

    backStepBtn3.addEventListener('click', () => {
        showContainer(2);
    });

    cancelBtn.addEventListener('click', () => {
        modalOverlay.style.display = 'none';
        showContainer(0);
    });

    submitAppointment.addEventListener('click', () => {
      showContainer(3);
    })

    document.getElementById('manuscript_upload_button').addEventListener('click', () => {
     document.getElementById('manuscript_file').click();
    });

    manuscriptFileInput.addEventListener('change', () => {
  const file = manuscriptFileInput.files[0];
  if (file) {
    fileNameDisplay.textContent = `Selected File: ${file.name}`;
  } else {
    fileNameDisplay.textContent = '';
  }
});

</script>

